<div style="margin-top: 15px">
    <h2>About</h2>
    <h4>Syspons Task 1. Version: 1.0.0<br />
        By <a href="https://orsarfati.com/" target="_blank">Or Sarfati</a>. 13.06.22.<br />
        <br />
        The task represents an example of dynamic data load and user interaction in Angular 14 environment.<br />
        The data source is an restAPI provider called <a href="https://random-data-api.com/"
            target="_blank">Random-Api</a>, while layout is done using <a href="https://material.angular.io/"
            target="_blank">Angular Material</a> library with
        costume css implementations.<br />
        <a href="https://ngrx.io/" target="_blank">NgRX</a> was used for state management lifecycle supporting
        actions-reducer-effects-selector paradigm<br />
        Linting is done using <a href="https://github.com/angular-eslint/angular-eslint"
            target="_blank">angular-eslint</a><br />
        See <a href="https://github.com/AfarsheziF/syspons-task-1#readme" target="_blank">README</a> file for commands
        information.
    </h4>
    <a routerLink="/">Go Back</a>
</div>